.btn {
  position: relative;
  @include inline-block($valign: top);
  padding: rem(4px) rem(10px);
  font-size: rem(10px);
  line-height: rem(29px);
  font-family: $font-base;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: $light-1;
  background-color: transparent;
  border: 1px solid $light-1;
  border-radius: rem(4px);
  text-overflow: ellipsis;
  cursor: pointer;
  box-sizing: border-box;
  outline: 0;
  transition: 0.3s ease;
  user-select: none;
  &:hover {
    color: $light-1;
    background-color: $accent;
  }
  &:active {
    color: $light-1;
    background-color: $accent-active;
  }
}
