.scrollup {
  position: fixed;
  bottom: 40%;
  right: 3%;
  z-index: 100;
  display: none;
  width: rem(40px);
  height: rem(40px);
  border: 1px solid #d1d5d8;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: $accent;
    border-color: $accent;
    .scrollup__icon {
      fill: #ffffff;
    }
  }
  &:active {
    background-color: $accent-active;
    border-color: $accent-active;
  }
}
.scrollup__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 1;
  fill: #bdc3c7;
}
