ul.socials
  li.socials__item.socials__item--facebook
    a.socials__link(href="javascript:void(0);", target="_blank", rel="noopener noreferrer")
      i(aria-hidden="true").fa.fa-facebook
  li.socials__item.socials__item--twitter
    a.socials__link(href="javascript:void(0);", target="_blank", rel="noopener noreferrer")
      i(aria-hidden="true").fa.fa-twitter
  li.socials__item.socials__item--google-plus
    a.socials__link(href="javascript:void(0);", target="_blank", rel="noopener noreferrer")
      i(aria-hidden="true").fa.fa-google-plus
  li.socials__item.socials__item--pinterest
    a.socials__link(href="javascript:void(0);", target="_blank", rel="noopener noreferrer")
      i(aria-hidden="true").fa.fa-pinterest-p
  li.socials__item.socials__item--dribbble
    a.socials__link(href="javascript:void(0);", target="_blank", rel="noopener noreferrer")
      i(aria-hidden="true").fa.fa-dribbble
  li.socials__item.socials__item--flickr
    a.socials__link(href="javascript:void(0);", target="_blank", rel="noopener noreferrer")
      i(aria-hidden="true").fa.fa-flickr
  li.socials__item.socials__item--youtube
    a.socials__link(href="javascript:void(0);", target="_blank", rel="noopener noreferrer")
      i(aria-hidden="true").fa.fa-youtube-play
  li.socials__item.socials__item--vimeo
    a.socials__link(href="javascript:void(0);", target="_blank", rel="noopener noreferrer")
      i(aria-hidden="true").fa.fa-vimeo
  li.socials__item.socials__item--instagram
    a.socials__link(href="javascript:void(0);", target="_blank", rel="noopener noreferrer")
      i(aria-hidden="true").fa.fa-instagram
  li.socials__item.socials__item--linkedin
    a.socials__link(href="javascript:void(0);", target="_blank", rel="noopener noreferrer")
      i(aria-hidden="true").fa.fa-linkedin-square    
