html {
  background-repeat: no-repeat;
  background-position: 50% 0;
  //background-position-y: -800px;
}

@media screen and (min-width: 320px) {
  html {
    background-image: url("../../img/preview/illusion-index-desktop.jpg");
  }

}
@media screen and (min-width: 480px) {
  html {
    background-image: url("../../img/preview/illusion-index-desktop.jpg");
  }
}

@media screen and (min-width: 768px) {
  html {
    background-image: url("../../img/preview/illusion-index-desktop.jpg");
  }
}

@media screen and (min-width: 992px) {
  html {
    background-image: url("../../img/preview/illusion-index-desktop.jpg");
  }
}

@media screen and (min-width: 1200px) {
  html {
    background-image: url("../../img/preview/illusion-index-desktop.jpg");
  }
}
