footer.footer
  .footer__top
    .footer__container.container
      .footer__col.col4
        h3.footer__title Shortly About Us
        p.footer__text Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum 
          | ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia. Suspendisse sollicitudin velit sed leo. 
      .footer__col.col5
        h3.footer__title Contact Us
        // footer__info
        .footer__info
          .footer__info-left  
            a(href="tel:+1234567890").footer__info-item
              span.footer__info-icon
                i(aria-hidden="true").fa.fa-phone
              span.footer__info-text (123)-456-7890
            a(href="mailto:info@companyname.com").footer__info-item
              span.footer__info-icon
                i(aria-hidden="true").fa.fa-envelope
              span.footer__info-text info@companyname.com
            a(href="skype:skype.name?chat").footer__info-item
              span.footer__info-icon
                i(aria-hidden="true").fa.fa-skype
              span.footer__info-text skype.name
          .footer__info-right
            a(href="").footer__info-item
              span.footer__info-icon
                i(aria-hidden="true").fa.fa-map-marker
              span.footer__info-text 8901 Marmora Road,
                br
                |Glasgow, D04 89GR.
            a(href="#").btn.footer__info-btn Open in Google Maps
        // end footer__info  
      .footer__col.col3
        h3.footer__title Stay Connected
        .footer__socials
          // socials
          include ../blocks/_socials
  .footer__bottom
    .footer__container.container
      span.footer__copyright &#169 2014 illusion. All Rights Reserved.
