header.header#js-header
  .header__top
    .header__container.container
      .header__logo
        .logo
          a(href="#").logo__link illusion
      .header__menu 
        include ../blocks/_menu
  .header__bottom
    .header__container.container
      h1.header__title 3 Column Sortable Masonry Portfolio
      // breadcrums  
      ul.header__breadcrums.breadcrums
        li.breadcrums__item
          a(href="#").breadcrums__link Home
            +icon("breadcrums__link-icon", "arrow", "10")
        li.breadcrums__item
          a(href="#").breadcrums__link Portfolio 
            +icon("breadcrums__link-icon", "arrow", "10")
        li.breadcrums__item
          a(href="#").breadcrums__link Sortable Masonry
            +icon("breadcrums__link-icon", "arrow", "10")
        li.breadcrums__item
          a(href="#").breadcrums__link 3 Columns
            +icon("breadcrums__link-icon", "arrow", "10")
